/*  your css code here. If applicable */
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  margin: 20px 0;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

#error {
  color: red;
  margin: 20px 0;
}

img {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
}